<main>
    <h2>Log In</h2>
    <form name="logInForm" novalidate class="signup-form">
        <md-input-container class="mid-block fullwidth">
            <label>User Name:</label>
            <input type="text" ng-model="logInForm.user.name" required/>
            <div ng-messages="logInForm.user.name.$error" ng-if="logInForm.user.name.$dirty">
                <div ng-message="required">Please enter an user name</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password:</label>
            <input type="password" ng-model="logInForm.user.password" minlength="6" required />
            <div ng-messages="logInForm.user.password.$error">
                <div ng-message-exp="['required', minlength]">Please enter a valid password with at least 6 charaters</div>
            </div>
        </md-input-container>
        <input type="submit" ng-click="submit(logInForm.user)" value="Save" class="submit-button" ng-disabled="logInForm.$invalid"/>
    </form>    
</main>
