<main>
    <h2>Sign Up</h2>
    <form name="signupForm" novalidate class="signup-form">
        <md-input-container class="mid-block fullwidth">
            <label>Choose a User Name:</label>
            <input type="text" ng-model="signupForm.user.name" required/>
            <div ng-messages="signupForm.user.name.$error" ng-if="signupForm.user.name.$dirty">
                <div ng-message="required">Please provide an user name</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Choose a Password:</label>
            <input type="password" ng-model="signupForm.user.password" minlength="6" required />
            <div ng-messages="signupForm.user.password.$error">
                <div ng-message-exp="['required', minlength]">Please provide a valid password with at least 6 charaters</div>
            </div>
        </md-input-container>
        <md-input-container class="mid-block fullwidth">
            <label>Email:</label>
            <input type="email" ng-model="signupForm.user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="signupForm.user.email.$error" ng-if="signupForm.user.email.$dirty">
                <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                    Please provide a valid email address
                </div>
            </div>
        </md-input-container>
        <input type="submit" ng-click="submit(signupForm.user)" value="Save" class="submit-button" ng-disabled="signupForm.$invalid"/>
    </form>    
</main>
